@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(./reset.css);

/*theme*/
:root{/*selector root = racine avec les variables*/
        --bgcolor: #080808; 
        --color-text-title : #7fa820;
        --color-border : #000000;
        --border-radius: .4rem;
        --bgsection: normal;
        --subtitle: uppercase; 
        --bgmain: #493c3c;
        --btn-default-color: #817f7f;
        --bgimgcolor: #ffffff;
}
header>h1 { 
    background-color: var(--bgcolor);
    color: var(--color-text-title);
    font-weight: normal;
    line-height: 6.5rem;
    /*65px*/
    /* on utlise le rem a la place du pixel puisqu'il permet de 
    mieux cadré. c'est plus précis*/
    text-align: center;
    font-size: 4.5rem;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

section {
    background-color: var(--bgimgcolor);
    max-width: 90rem; /*900px*/
    margin: 5rem auto;
    border: solid .1rem var(--color-border);
    border-radius: var(--border-radius);
    padding: 1rem;
}

section img {
    width: 100%;
}
section h2{
    text-transform: var(--subtitle);
    font-weight: 400; 
}
.btns-default{
    display: inline-block;
    width: max-content;
    background-color: var(--btn-default-color);
    line-height: 3.5rem;
    padding: .4rem .1rem;
    border-radius: var(--border-radius);
    color: var(--bgsection);
    text-transform: uppercase;
    font-size: 1.4rem;
}
.btn-option-sucess{
    background-color: #16a085;
    color: var(--bgsection);
}
.btn-option-warning{
    background-color: #c0392b;
    color: var(--bgsection);
}
footer*{
    text-align: center;
}